/* CSS Variables */
:root {
	--black-olive: #40423d;
	--silver-chalice: #acada8;
	--light-gray: #d5d5d3;
	--cultured: #f9f9f9;
	--sage: #d4c893;
	--jazzberry-jam: #950952;
}

/* CSS Reset */

body {
	background-color: var(--cultured);
	color: var(--cultured);
	font-family: 'Poppins', sans-serif;
}

#main-container {
	width: 100%;
	min-height: 84.5vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* Navbar*/

/* Footer */
footer {
	width: 100%;
	height: auto;
	background-color: var(--black-olive);
	color: var(--cultured);
	padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
/* Categories */
/* Products */
/* On Sale */
/* Contact */
/* Cart */
/* Sign In Form */
