/*******************************************************/
/****************    CSS Variables    *****************/
/*******************************************************/
:root {
	--black: #000000;
	--black-olive: #40423d;
	--silver-chalice: #acada8;
	--light-gray: #d5d5d3;
	--white: #ffffff;
	--cultured: #f9f9f9;
	--sage: #d4c893;
	--nadeshiko-pink: #faa8c4;
	--jazzberry-jam: #950952;
	--body-font-family: "Josefin Sans", sans-serif;
	--headers-font-family: "Joan", serif;
}
/*******************************************************/
/*******************    CSS Reset    *******************/
/*******************************************************/
*,
*::before,
*::after {
	box-sizing: border-box;
}
* {
	margin: 0;
}
body {
	background-color: var(--cultured);
	color: var(--black);
	min-height: 100vh;
	font-family: var(--body-font-family);
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
	max-width: 100%;
	height: auto;
}
input,
button,
textarea,
select {
	font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
	hyphens: auto;
}
/*******************************************************/
/******************  Main Container  *******************/
/*******************************************************/

#main-container {
	/* background-color: var(--light-gray);
	color: var(--black);
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center; */
}
/*******************************************************/
/********************    Navbar    *********************/
/*******************************************************/

/*******************************************************/
/********************    Footer    *********************/
/*******************************************************/
footer {
	margin-top: 4em;
	width: 100%;
	height: 5em;
	background-color: var(--black-olive);
	color: var(--cultured);
	padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
/*******************************************************/
/********************    Homepage    *******************/
/*******************************************************/
.homepage-top-section__link {
	position: relative;
}
.homepage-top-section img {
	height: 95%;
	margin-top: 1.8em;
	aspect-ratio: 1/1;
	object-fit: cover;
}
.homepage-top-section__button-container {
	position: absolute;
	bottom: 1.5em;
	left: 50%;
	transform: translateX(-50%);
}
.homepage-top-section__button {
	display: inline-flex;
	height: 3em;
	width: 14em;
	border: 2px solid var(--cultured);
	margin: 0.125em 0.125em;
	background-color: var(--black);
	opacity: 0.85;
	text-transform: uppercase;
	align-items: center;
	justify-content: center;
	position: relative;
	overflow: hidden;
	cursor: pointer;
}
.homepage-top-section__link {
	color: var(--cultured);
	font-weight: 400;
	text-decoration: none;
	position: relative;
	transition: all .25s ease-Out;
}
.homepage-top-section__button__slide {
	width: 100%;
	height: 100%;
	left: -14em;
	background: var(--cultured);
	position: absolute;
	transition: all .35s ease-Out;
	bottom: 0;
}
.homepage-top-section__button:hover .homepage-top-section__button__slide {
	left: 0;
}
.homepage-top-section__button:hover .homepage-top-section__link {
	color: var(--black);
}
@media only screen and (min-width: 480px) {
	.homepage-top-section__link {
		font-weight: 700;
	}
	.homepage-top-section__button {
		width: 18em;
		margin: 1.25em 1.25em;
	}
	.homepage-top-section__button__slide {
		left: -18em;
	}
}
@media only screen and (min-width: 780px) {
	.homepage-top-section__button-container {
		bottom: 0;
	}
	.homepage-top-section__button {
		width: 29vw;
		padding: 2em 1em;
	}
	.homepage-top-section__button__slide {
		left: -29vw;
	}
}
@media only screen and (min-width: 1190px) {
	.homepage-top-section__link {
		font-size: 1.5rem;
	}
	.homepage-top-section__button {
		width: 29vw;
	}
}
/*******************************************************/
/********************    Categories    *******************/
/*******************************************************/
.categoryContainer {
	display: flex;
}
.categoryCardImg {
	height: 15em;
}
.categoryCardImg:hover {
	backdrop-filter: blur(10px);
	filter: blur(4px);
	transition: 0.5s ease;
}
.categoryCard {
	margin: 1em;
}
/*******************************************************/
/*******************    Products    ********************/
/*******************************************************/

/*******************************************************/
/****************  Products Details    *****************/
/*******************************************************/

/*******************************************************/
/*******************    On Sale    *********************/
/*******************************************************/
/* .container {
	width: 100%;
	padding-right: var(--bs-gutter-x, 0.75rem);
	padding-left: var(--bs-gutter-x, 0.75rem);
	margin-right: auto;
	margin-left: auto;
}
.card {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border-radius: 0.25rem;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
} */
/*******************************************************/
/*******************    Cart    ************************/
/*******************************************************/

/*******************************************************/
/*******************    Order   ***********************/
/*******************************************************/

/*******************************************************/
/*******************    Sign In   **********************/
/*******************************************************/

.form-sign-in {
	margin-top: 2em;
}
.gradient-form {
	background-color: var(--cultured);
	margin-top: 5em;
}

.log-in-button {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.card-logo {
	background-color: var(--sage);
}
.buttons-create-new {
	display: flex;
	gap: 1em;
}
/*******************************************************/
/*******************    Register   *********************/
/*******************************************************/

/*******************************************************/
/*******************    Contact    *********************/
/*******************************************************/
